/*info: h1:sans-serif, */

/*SKABELON, GRUND STRUKTUR*/

body {
    position: relative;
    background-color: #EDEDED;
}

p {
    font-family: arial;
}


header {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#burger {
    flex-grow: 1;
    flex-basis: auto;
}

#fronterhvervskeatitle {
    flex-grow: 1;
    flex-basis: auto;
    font-family: arial;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: arial;
    font-size: 0.5rem;
}

#log_out {
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: arial;
}

#mail {
    flex-grow: 1;
    flex-basis: auto;
}

/*SKABELON SLUT*/

/*SKEMA*/


#skema .container_top {
    display: flex;
    justify-content: space-between;
    margin: 10vw;
}

#skema .arrow {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    height: 6vw;
    width: 4vw;

}

#skema .tidspunkt {
    font-family: arial;
    font-size: 1.2rem;
    margin: 0;
}

#skema .arrow2 {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    height: 6vw;
    width: 4vw;

}

#skema .kolonne {
    border: 1px solid white;
    margin: 2vw;
    padding: 1vw;

    background-color: #fffefe;
}

#skema .kolonne_bottom1 {
    border: 1px solid #EA5045;
    margin: 2vw;
    padding: 2vw;

    background-color: #EA5045;
    text-align: center;
    position: relative;
}

#skema .kolonne_bottom2 {
    border: 1px solid #ea847c;
    margin: 2vw;
    padding: 2vw;

    background-color: #EA847C;
    text-align: center;
    position: relative;
}

#skema .container_top {
    display: flex;
    flex-grow: grow;
}

#skema .container_bottom {
    flex-basis: 1;

}

#skema .pil {
    position: absolute;
    right: 3vw;
    top: 5vw;
}

/*SKEMA SLUT*/
